# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
df = pd.read_csv('large_countries_2015.csv', index_col=0)
df.head()

              population  fertility      continent
Bangladesh  1.609956e+08       2.12           Asia
Brazil      2.078475e+08       1.78  South America
China       1.376049e+09       1.57           Asia
India       1.311051e+09       2.43           Asia
Indonesia   2.575638e+08       2.28           Asia

## Excel

* Write the data into an Excel file
* Read the data again

In [3]:
xf = df.to_excel('large_countries_2015.xlsx')
df = pd.read_excel('large_countries_2015.xlsx', index_col=0)
df.head()

            population  fertility      continent
Bangladesh   160995642       2.12           Asia
Brazil       207847528       1.78  South America
China       1376048943       1.57           Asia
India       1311050527       2.43           Asia
Indonesia    257563815       2.28           Asia

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [5]:
jf = df.to_json('large_countries_2015.json')
df = pd.read_json('large_countries_2015.json')
df.head()

            population  fertility      continent
Bangladesh   160995642       2.12           Asia
Brazil       207847528       1.78  South America
China       1376048943       1.57           Asia
India       1311050527       2.43           Asia
Indonesia    257563815       2.28           Asia

## SQL

Install the library SQLAlchemy:

In [6]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/mrmn/anaconda3/lib/python3.8/site-packages (1.3.18)

Create a connection to a new SQLite database:

In [7]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [8]:
df.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [9]:
!ls

bash.md			      large_countries_2015.json
data_round_trip.ipynb	      large_countries_2015.xlsx
exercise_pandas_basics.ipynb  mydatabase.db
fizzbuzztest.ipynb	      Untitled.ipynb
large_countries_2015.csv

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*