In [1]:
import pandas as pd 
import spacy
nlp = spacy.load('en_core_web_md')
df = pd.read_csv('lyrics.csv', index_col=0)

In [2]:
def clean_text(review, model):
    new_doc = ''
    doc = model(review)
    for word in doc:
        if not word.is_stop and word.is_alpha:
            new_doc = f'{new_doc} {word.lemma_.lower()}'
            
    return new_doc

In [3]:
df['lyrics'] = df['lyrics'].apply(clean_text, model=nlp)
df.head()

,title,artist,lyrics
0,Bart Simpson,Princess Nokia,rotten apple core damn fuck get pick gym lay ...
1,Brujas,Princess Nokia,supreme supreme supreme ghetto witch speak to...
2,Cynthia,Princess Nokia,lau beat ayy tony princess nokia big lie fly ...
3,Goat,Princess Nokia,hate burst bubble bitch weird girl runnin shi...
4,Green Eggs Ham,Princess Nokia,green egg ham sam man plan toast jam sunny d ...

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english')
vectorizer.fit(df['lyrics'])

CountVectorizer(stop_words='english')

In [5]:
vectorized_lyrics = vectorizer.transform(df['lyrics'])

In [6]:
vectorized_lyrics

<1082x10302 sparse matrix of type '<class 'numpy.int64'>'
	with 67435 stored elements in Compressed Sparse Row format>

In [9]:
vectorized_lyrics = pd.DataFrame(vectorized_lyrics.todense(), columns=vectorizer.get_feature_names(), index=df.index)
vectorized_lyrics.head()

,aaa,aaaaah,aaaand,aah,aaliyah,aaron,aaw,abacus,abandon,abandonned,...,ξωτικό,ποθώ,σκοπό,του,τρaγούδι,φιλήσω,χaϊδέψω,χείλη,χορό,慴out
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
vectorized_lyrics.tail()

,aaa,aaaaah,aaaand,aah,aaliyah,aaron,aaw,abacus,abandon,abandonned,...,ξωτικό,ποθώ,σκοπό,του,τρaγούδι,φιλήσω,χaϊδέψω,χείλη,χορό,慴out
1077,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1078,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1079,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1081,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X = vectorized_lyrics
y = df['artist']

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestClassifier

n = RandomForestClassifier(max_depth=12, n_estimators=100)
n.fit(X_train, y_train)

RandomForestClassifier(max_depth=12)

In [15]:
round(n.score(X_train, y_train), 3)

0.88

In [16]:
round(n.score(X_test, y_test), 3)

0.816