In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# Read the gapminder_lifeexpectancy.xlsx data
df = pd.read_excel('data/gapminder_lifeexpectancy.xlsx')

In [3]:
# Inspect the first 6 rows of the DataFrame
df.head(6)

,Life expectancy,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
4,Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
5,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.4,72.7,71.3,72.8,72.6,72.6,72.7,72.8,72.9,73.00

In [ ]:
# Drop Null values in place

In [ ]:
# Inspect the shape of the DataFrame

In [ ]:
# Inspect the first 6 rows again

### 1. Move columns into the index and out again

### 2. Aggregation

In [ ]:
# What are the top ten initials (first letter) of countries in the dataset

# Create a new column with the initial of the country

In [ ]:
# Count the values of the new column

In [ ]:
# Plot the mean lifeexpectancy for each initial for 1900 and 2000

# Create the mean of the groups

In [ ]:
# Plot the result

In [ ]:
# Delete the new column

### 3. Long vs Wide Format

* long format: select single data points, move columns around
* wide format: select row/column ranges

In [ ]:
# Bring the DataFrame in wide format (many many rows, 1 column)

In [ ]:
# Bring the pd.Series back into wide format (fewer rows, many columns)

In [ ]:
# Create a DataFrame with two countries, three years, population and fertility

In [ ]:
# Set country and year as index

In [ ]:
# Create a bar plot

In [ ]:
# Convert the DataFrame into long format

In [ ]:
# Create a bar plot with the two countries as columns

In [ ]:
# Create a bar plot with the three years as columns

In [ ]:
# Create a bar plot only for one country with population and fertility as columns