In [40]:
from math import pi

import pandas as pd

from bokeh.io import show
from bokeh.models import BasicTicker, ColorBar, LinearColorMapper, PrintfTickFormatter
from bokeh.plotting import figure
from bokeh.palettes import brewer

In [41]:
data = pd.read_csv('tempdata_clean.csv')
data['DATE'] = pd.to_datetime(data['DATE'])
data.set_index(data['DATE'], inplace=True)

In [42]:
# data = data.resample('m').mean()

In [43]:
# data['temp'] = round(data['temp'], 2)

In [44]:
data['Year'] = data.index.year.astype(str)

In [45]:
data['day'] = data.index.strftime('%m-%d')
data.columns.name = 'day'
data['day'] = data['day'].astype(str)
data.head()

day              DATE  temp  Year    day
DATE
1876-01-01 1876-01-01   2.2  1876  01-01
1876-01-02 1876-01-02   2.5  1876  01-02
1876-01-03 1876-01-03   0.3  1876  01-03
1876-01-04 1876-01-04  -5.8  1876  01-04
1876-01-05 1876-01-05  -9.8  1876  01-05

In [46]:
data['day'] = data['day'].apply(lambda x: x.zfill(3))

In [47]:
data.head()

day              DATE  temp  Year    day
DATE
1876-01-01 1876-01-01   2.2  1876  01-01
1876-01-02 1876-01-02   2.5  1876  01-02
1876-01-03 1876-01-03   0.3  1876  01-03
1876-01-04 1876-01-04  -5.8  1876  01-04
1876-01-05 1876-01-05  -9.8  1876  01-05

In [48]:
data = data.pivot(index='Year', columns='day', values='temp')

In [49]:
years = list(data.index)
days = list(data.columns)

# reshape to 1D array or rates with a month and year for each row.
df = pd.DataFrame(data.stack(), columns=['temp']).reset_index()

In [50]:
df.columns = ['Year', 'day', 'temp']

In [51]:
colors = brewer['RdBu'][11]
mapper = LinearColorMapper(palette=colors, low=df.temp.min(), high=df.temp.max(), nan_color='#a9a9a9')

TOOLS = "hover,save,pan,box_zoom,reset,wheel_zoom"

In [52]:
p = figure(title=f"Temperatures in Berlin ({years[0]} - {years[-1]})",
           x_range=years, y_range=list(reversed(days)),
           x_axis_location="above", plot_width=1000, plot_height=1000,
           tools=TOOLS, toolbar_location='below',
           tooltips=[('date', '@day @Year'), ('temp', '@tempÂ°C')])

In [53]:
p.grid.grid_line_color = None
p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = "7px"
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = pi / 3

In [54]:
p.rect(x="Year", y="day", width=1, height=1,
       source=df,
       fill_color={'field': 'temp', 'transform': mapper},
       line_color=None)

GlyphRenderer(id='1373', ...)

In [55]:
color_bar = ColorBar(color_mapper=mapper, major_label_text_font_size="7px",
                     ticker=BasicTicker(desired_num_ticks=len(colors)),
                     formatter=PrintfTickFormatter(format="%f"),
                     label_standoff=6, border_line_color=None, location=(0, 0))
p.add_layout(color_bar, 'right')

In [56]:
show(p)      # show the plot